@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #cb97978c;
    
}
.container{
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
    background-color: aquamarine;
}
input{
    padding: 5px;
    background: transparent;
    border: 1px solid grey;
    margin-bottom: 10px;
}
#submit{
    border: 2px solid blue;
    border-radius: 5px;
    background-color: rgb(182, 232, 95);
}